/* ----------------- Class CSS ----------------- */

.about{
    width:400px;
    margin: auto;
}

.about-team{
    color:rgb(82, 81, 81)
}

.authors{
    background-color: rgba(219, 227, 231, 0.6);
}

.body{
    background-color: rgb(46, 88, 134);
    background-image: url(img/water-bg.jpg);
    background-size: cover;
    backdrop-filter: blur(5px);
}

.logo {
    transform: scale(0.50);
    transform-origin: top left;
}

.chartjs-sample{
    background-color: #8fa3ab;
}

.footer{                
    background-color: rgb(46, 88, 134, 0.6);
}

.icon-white{            /* Arrow icon at bottom of page */
    color: #FFFFFF;
}

.nav-background-color{   /* navbar background color */
    background-color: rgb(46, 88, 134, 0.6);
}

.nav-menu-item{               /* navbar link text properties */
    font-size:25px;
    margin-left: 10px;
    margin-right: 10px;
}

.overview{
    background-color: rgba(219, 227, 231, 0.6);
}

.overview-left-padding{
    padding-left: 20px;
}

.overview-right-padding{  
    padding-right: 20px;
}

.procedure{
    background-color: rgba(219, 227, 231, 0.6);
    padding: 1px;
}

.showcase {
    background-color: rgba(158, 180, 205, 0.8);
}

.horizontal-line {
    height: 5px;
    background-color: rgb(255, 255, 255);
    border: none;
}

.white-border{
    border: 5px solid white;
}

.black-border{
    border: 5px solid black;
}

/* ----------------- ID CSS ----------------- */

#growth-img {
    margin-top: 50px;
}

/* -----------------Underline Animation CSS -----------------*/
#chart-wrapper{
    margin: auto;
    padding: 10px; 
    min-height: 400px;
    background-color: whitesmoke !important;
    justify-content: center;
    align-items: center;  
}



.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}

/* ----------------- Element CSS ----------------- */

* { 
    font-family: 'Gadugi' !important;
}

p, li {
    font-size: 20px;
}